.item {
  border: 5px solid rgb(17, 17, 119);
  margin: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  height: 360px;
  max-height: 360px;

  background: whitesmoke;

  &:hover{
    .imageContainer{
      .delete-button{
        visibility: visible;
      }

      .edit-button {
        visibility: visible;
      }
    }
  }

  .imageContainer {
    margin: 0;
    padding: 0;

    .image {
      object-fit: cover;
      justify-items: center;
    }
    
    .delete-button {
      position: absolute;
      margin-left: -26px;
      margin-top: 5px;
      background-color: white;
      border: none;
      color: rgb(160, 160, 160);
      font-size: 18px;
      visibility: hidden;
      &:hover {
        color: purple;
        cursor: pointer;
      }
    }

    .edit-button {
      position: absolute;
      margin-left: -50px;
      margin-top: 5px;
      background-color: white;
      border: none;
      color: rgb(160, 160, 160);
      font-size: 18px;
      visibility: hidden;
      &:hover {
        color: purple;
        cursor: pointer;
      }
    }


  }
  .details {
    margin: 15px;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .title {
      margin: 0.3em 0 0.3em 0; //throuble
      font-size: 30px;
      font-family: Arial, Helvetica, sans-serif;
    }
    .description {
      text-align: center;
      margin: 0px;
      font-size: 18px;
    }


    .viewBtn{
      margin-top: 15px;
    }


  }
}