.item {
  border: 1px solid red;
  margin: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  //flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  height: 360;
  max-height: 360;

  background: whitesmoke;
  
//cambios del 27 de ago

&:hover{   //para que sea visible solo en el evento "over" o sea, al pasar sobre el
  .imageContainer{
    .delete-button{
      visibility: visible;
    }
  }
}


//fin de cambios 27ago



  .imageContainer {
    margin: 0;
    padding: 0;

    .image {
      object-fit: cover;
      justify-items: center;
    }

//estilo del botoncillo eliminar


.delete-button {
  position: absolute;
  margin-left: -26px;
  margin-top: 5px;
  background-color: white;
  border: none;
  color: rgb(160, 160, 160);
  font-size: 18px;
  visibility: hidden;
  &:hover {
    color: purple;
    cursor: pointer;
  }
}

}
  .details {
    margin: 15px;
    background-color: white; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      margin: 0.5em 0 0.5em 0; 
    }

       
    .description {
      text-align: center;
      margin: 0px;
      
    }
  }
}
