<article class="item">
    <div *ngIf="!isEditing">
        <figure class="imageContainer">
            <img class="image" [src]="itemObj.image" height="200" width="200">
            <button class="delete-button" title="Delete" (click)="deleteItem()">x</button>
            <button class="edit-button" title="Edit" (click)="editItem()">e</button>
        </figure>
       
       
        <div class="details">
            <small>{{itemObj.id}}</small>
            <h3 class="title">{{itemObj.title}}</h3>
            <p class="description">{{itemObj.description}}</p>
                       
           
            <button class="viewBtn" title="ViewDetails" (click)="viewDetails()">View</button> <!--bien-->
                 
        </div>
    </div>

    <app-item-form [item]="itemObj" *ngIf="isEditing" (saveResult)="savedItem($event)"
        (cancelResult)="cancelItem($event)">
    </app-item-form>
</article>