<div class="card" *ngIf="!isEditing">
    <button class="btn btn-outline-light" title="Delete" (click)="deleteItem()">x</button>
    <img [src]="itemObj.image" class="card-img-top img-fluid img-item" alt="item">
    <div class="card-body">
        
        <h5 class="card-title">{{itemObj.title}}</h5>
        <p class="card-text">{{itemObj.description}}</p>
        <a href="javascript:;" class="btn btn-outline-light" (click)="viewDetails()">View</a>
    </div>
</div>
<div class="card" *ngIf="isEditing">
    <div class="card-body">
        <app-item-form [item]="itemObj" *ngIf="isEditing" (saveResult)="savedItem($event)"
            (cancelResult)="cancelItem($event)">
        </app-item-form>
    </div>
</div>