.bindi {
  background-color: #056fff;
  color: white;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.form-imput input {
  border-color: gray;

  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 30px;
}
