<form class="item-form">
    <div class="form-group">
        <img [src]="form.image" class="img-item" alt="" (click)="stopInterval()">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" class="form-control form-control-sm" name="title" [(ngModel)]="form.title"
            aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Description</label>
        <input type="text" class="form-control form-control-sm" name="description" [(ngModel)]="form.description">
    </div>
    
    <div class="box-btns">
    <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
    <button class="btn btn-secondary" (click)="save()">Save</button>
    </div>
</form>