<form class="itemForm">
    <img [src]="form.image" alt="" height="200" width="200" (click)="stopInterval()">
    <div class="imageRandom">
        <button class="prevBtn" (click)="prev()">
            < </button>
                <button class="ranBtn" (click)="startInterval()"> * </button>
                <button class="nextBtn" (click)="next()">></button>
    </div>

    <div class="form-container">
        <p>Title</p>
        <input type="text" name="title" [(ngModel)]="form.title">
        <p>Description</p>
        <input type="text" name="description" [(ngModel)]="form.description">

        <div class="buttons-container">
            <button class="cancelBtn" (click)="cancel()">Cancel</button>
            <button class="saveBtn" (click)="save()">Save</button>
        </div>
    </div>

</form>