.itemForm {
  display: flex;
  flex-direction: column;
}
.form-container {
  padding-left: 5px;
  padding-right: 5px;
}

.imageRandom {
  display: flex;
  justify-content: space-between;
  .nextBtn {
    cursor: pointer;
  }
  .prevBtn {
    cursor: pointer;
  }
  .ranBtn {
    cursor: pointer;
  }
}
