.item-box {
  display: flex;
  flex-wrap: wrap; /*esto hace que los eventos se ajusten solitos y no sean una fila recta hacia la derecha*/

  .title {
    margin-left: 20px;
    justify-content: center;
  }

  .container-items {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 800px;

  }
}
